.button {
  background-color: rgb(255, 255, 255);
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(200, 200, 200) rgb(194, 194, 194) rgb(172, 172, 172);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px;
  padding: 0px 13px;
  line-height: 19px;
  font-size: 13px;
  color: inherit;

  &:active {
    background-image: -webkit-linear-gradient(top, #4c98fe 0%, #0564e3 100%);
    border-top-color: #247fff;
    border-bottom-color: #003ddb;
    border-left-color: #125eed;
    border-right-color: #125eed;
    color: rgba(255, 255, 255, .9);
  }

  &.primary {
    background-image: -webkit-linear-gradient(top, #6cb3fa 0%, #087eff 100%);
    border-top-color: #4ca2f9;
    border-bottom-color: #015cff;
    border-left-color: #267ffc;
    border-right-color: #267ffc;
    color: rgba(255, 255, 255, .9);

    &:active {
      background-image: -webkit-linear-gradient(top, #4c98fe 0%, #0564e3 100%);
      border-top-color: #247fff;
      border-bottom-color: #003ddb;
      border-left-color: #125eed;
      border-right-color: #125eed;
      color: rgba(255, 255, 255, .9);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .button {
    background: #676a6c;
    border-color: transparent;
  }
}
