html, body {
  height: 100%;
  letter-spacing: 0.5px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 11px;
  color: #06c;
  cursor: pointer;
}

:global(#root) {
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e0e0e0;
  }

  a {
    color: #6cb3fa;
  }
}
